@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="card shadow">

        <div class="card-header">

            ⚙ Cài đặt hệ thống

        </div>

        <div class="card-body">

            <div class="form-check form-switch">

                <input class="form-check-input"
                       type="checkbox"
                       checked>

                <label>

                    Bật kiểm tra IP

                </label>

            </div>

            <div class="form-check form-switch">

                <input class="form-check-input"
                       type="checkbox"
                       checked>

                <label>

                    Bật chống Spam

                </label>

            </div>

            <div class="form-check form-switch">

                <input class="form-check-input"
                       type="checkbox"
                       checked>

                <label>

                    Kiểm tra MIME

                </label>

            </div>

            <div class="form-check form-switch">

                <input class="form-check-input"
                       type="checkbox"
                       checked>

                <label>

                    Lưu Upload Log

                </label>

            </div>

        </div>

    </div>

</div>