body {
    margin: 0;
    background: #eef2f7;
    font-family: Segoe UI;
}

.wrapper {
    display: flex;
}

.sidebar {
    width: 260px;
    min-height: 100vh;
    background: #071739;
    color: white;
}

.logo {
    padding: 25px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    transition: .3s;
}

    .sidebar a:hover {
        background: #146C94;
        padding-left: 35px;
    }

.sidebar i {
    width: 30px;
}

.main {
    flex: 1;
}

.topbar {
    background: white;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

.content {
    padding: 30px;
}

/*=============================
    SIDEBAR PRO
==============================*/

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    background: #071739;
    overflow: auto;
    transition: .3s;
    z-index: 1000;
}

    .sidebar.collapsed {
        width: 80px;
    }

        .sidebar.collapsed span {
            display: none;
        }

        .sidebar.collapsed .logo span {
            display: none;
        }

    .sidebar a {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 16px 22px;
        color: white;
        text-decoration: none;
        transition: .3s;
    }

        .sidebar a:hover {
            background: #146C94;
        }

        .sidebar a.active {
            background: #198754;
        }

.main {
    margin-left: 260px;
    transition: .3s;
}

    .main.expand {
        margin-left: 80px;
    }

.logo {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

    .logo i {
        color: #4FC3F7;
    }
.dashboard-card {
    color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    transition: .3s;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

    .dashboard-card:hover {
        transform: translateY(-10px);
    }

    .dashboard-card i {
        margin-bottom: 20px;
    }

    .dashboard-card h2 {
        font-size: 45px;
        font-weight: bold;
    }