.security-box {
    padding: 35px;
    color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    transition: .3s;
    box-shadow: 0 15px 40px rgba(0,0,0,.25);
}

    .security-box:hover {
        transform: translateY(-10px);
    }

    .security-box h3 {
        font-size: 48px;
        font-weight: bold;
    }

.progress {
    height: 30px;
    border-radius: 30px;
}

.progress-bar {
    font-size: 18px;
    font-weight: bold;
}
.attack {
    padding: 35px;
    color: white;
    border-radius: 20px;
    text-align: center;
    transition: .4s;
}

    .attack:hover {
        transform: translateY(-8px);
    }

.danger {
    background: #dc3545;
}

.warning {
    background: #ffc107;
    color: black;
}

.success {
    background: #198754;
}

.info {
    background: #0d6efd;
}