body {
    background: #071739;
    color: white;
    font-family: 'Segoe UI';
}

.navbar {
    background: #071739 !important;
}

.navbar-brand {
    color: #3fa9ff !important;
}

.btn-primary {
    background: #1e90ff;
    border: none;
}

.hero {
    min-height: 700px;
    display: flex;
    align-items: center;
}

.card {
    background: #0B2447;
    border: none;
    border-radius: 20px;
    color: white;
}

footer {
    background: #081120;
}
