@model AnToanBaoMat.Models.BlockedIp

@{
    ViewData["Title"] = "Sửa IP";
}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-warning">

            <h4>Sửa IP</h4>

        </div>

        <div class="card-body">

            <form asp-action="Edit">

                @Html.AntiForgeryToken()

                <input asp-for="Id" hidden />

                <div class="mb-3">

                    <label>IP Address</label>

                    <input asp-for="Ipaddress"
                           class="form-control" />

                </div>

                <div class="mb-3">

                    <label>Lý do</label>

                    <textarea asp-for="Reason"
                              class="form-control"></textarea>

                </div>

                <div class="form-check">

                    <input asp-for="IsActive"
                           class="form-check-input" />

                    <label class="form-check-label">

                        Đang chặn

                    </label>

                </div>

                <br>

                <button class="btn btn-success">

                    Lưu

                </button>

                <a asp-action="Index"
                   class="btn btn-secondary">

                    Quay lại

                </a>

            </form>

        </div>

    </div>

</div>