@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/login.css" />

<section class="login-section">

    <div class="container">

        <div class="login-wrapper">

            <!-- LEFT -->

            <div class="login-left">

                <span class="login-badge">

                    <i class="fa-solid fa-shield-halved"></i>

                    CV SAFE

                </span>

                <h1>

                    Chào mừng trở lại

                </h1>

                <p>

                    Đăng nhập để sử dụng hệ thống
                    gửi CV an toàn,
                    kiểm tra IP,
                    chống spam
                    và theo dõi nhật ký upload.

                </p>

                <img src="~/images/DASHBOARD.png"
                     class="login-image">

            </div>

            <!-- RIGHT -->

            <div class="login-card">

                <h2>

                    Đăng nhập hệ thống

                </h2>

                <form method="post">

                    <div class="input-box">

                        <i class="fa-solid fa-envelope"></i>

                        <input name="email"
                               placeholder="Email">

                    </div>

                    <div class="input-box">

                        <i class="fa-solid fa-lock"></i>

                        <input type="password"
                               name="password"
                               placeholder="Mật khẩu">

                    </div>

                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger mt-3">

                            @ViewBag.Error

                        </div>
                    }

                    <button class="btn-login">

                        Đăng nhập

                    </button>

                </form>

                <div class="login-footer">

                    Chưa có tài khoản?

                    <a asp-action="Register">

                        Đăng ký ngay

                    </a>

                </div>

            </div>

        </div>

    </div>

</section>