<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">

    <div class="container">

        <a class="navbar-brand fw-bold"
           asp-controller="Home"
           asp-action="Index">

            <i class="fa-solid fa-shield-halved"></i>

            CV SAFE

        </a>

        <button class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#menu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse"
             id="menu">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">

                    <a class="nav-link"
                       asp-controller="Home"
                       asp-action="Index">

                        Trang chủ

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link">

                        Tính năng

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link">

                        Giới thiệu

                    </a>

                </li>

                <li class="nav-item">

                    <a class="btn btn-primary ms-3">

                        Đăng nhập

                    </a>

                </li>

            </ul>

        </div>

    </div>

</nav>