@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="card shadow">

        <div class="card-body text-center">

            <img src="~/images/admin.png"
                 width="120"
                 class="rounded-circle" />

            <h3>Administrator</h3>

            <p>admin@gmail.com</p>

            <hr>

            <button class="btn btn-primary">

                Đổi mật khẩu

            </button>

        </div>

    </div>

</div>