<tbody>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.ApplicationId</td>

            <td>@item.Cvfile</td>

            <td>

                @if (item.ExpireTime > DateTime.Now)
                {
                    <span class="badge bg-success">
                        Còn hiệu lực
                    </span>
                }
                else
                {
                    <span class="badge bg-danger">
                        Hết hạn
                    </span>
                }

            </td>

        </tr>
        <td>

            @if (item.IsEncrypted == true)
            {
                <span class="badge bg-success">

                    Đã mã hóa

                </span>
            }
            else
            {
                <a asp-action="Encrypt"
                   asp-route-id="@item.ApplicationId"
                   class="btn btn-warning btn-sm">

                    AES Encrypt

                </a>
            }

        </td>
        <td>

            @if (item.Cvfile.EndsWith(".enc"))
            {
                <span class="badge bg-success">

                    AES-256

                </span>
            }
            else
            {
                <span class="badge bg-danger">

                    Chưa mã hóa

                </span>
            }

        </td>
    }

</tbody>