@model AnToanBaoMat.Models.User

@{
    ViewData["Title"] = "Đăng ký";
}
<link href="~/css/register.css"
      rel="stylesheet" />
<section class="register-page">

    <div class="container">

        <div class="register-box">

            <div class="register-left">

                <h2>Tạo tài khoản</h2>

                <p>
                    Đăng ký để sử dụng hệ thống gửi CV an toàn,
                    kiểm tra IP và theo dõi lịch sử upload.
                </p>

                <form asp-action="Register" method="post">

                    <div class="mb-3">

                        <label>Họ và tên</label>

                        <input asp-for="FullName"
                               class="form-control">

                    </div>

                    <div class="mb-3">

                        <label>Email</label>

                        <input asp-for="Email"
                               class="form-control">

                    </div>

                    <div class="mb-3">

                        <label>Số điện thoại</label>

                        <input asp-for="Phone"
                               class="form-control">

                    </div>

                    <div class="mb-3">

                        <label>Mật khẩu</label>

                        <input asp-for="PasswordHash"
                               type="password"
                               class="form-control">

                    </div>

                    <button class="btn btn-primary w-100">

                        Đăng ký

                    </button>

                </form>

            </div>

            <div class="register-right">

                <img src="~/images/DASHBOARD.png"
                     class="img-fluid">

            </div>

        </div>

    </div>

</section>