@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Notification Center";
}

<div class="container-fluid">

    <h2 class="mb-4">

        🔔 Notification Center

    </h2>

    <div class="card shadow">

        <div class="card-body">

            <div class="alert alert-success">

                ✔ Upload CV thành công

            </div>

            <div class="alert alert-warning">

                ⚠ Phát hiện IP gửi nhiều lần

            </div>

            <div class="alert alert-danger">

                🚫 Một IP đã bị chặn

            </div>

        </div>

    </div>

</div>